@import "tailwindcss";

/*svg section*/
#p1-sun-svg {
  min-width: 150px;
  width: 18%;
  place-content: center;
  opacity: 1;
}
#p1-rain-svg {
  min-width: 350px;
  width: 50%;
  position: absolute;
  top: 0;
  left: 22%;
  z-index: -1;
}
#p1-stars-svg {
  min-width: 350px;
  width: 50%;
  position: absolute;
  top: 0;
  left: 22%;
  z-index: -1;
}
#p1-lira-svg {
  position: absolute;
  display: flex; 
  left: 35%;
  bottom: 5%;
  min-width: 250px;
  width: 25%;
  align-self: center;
}
#p1-lira-cam-svg {
  position: absolute;
  left: 30%;
  bottom: 20%;
  min-width: 130px;
  width: 10%;
  opacity: 0;
}

#p2-book-svg {
  position: absolute;
  left: 20%;
  bottom: 10%;
  min-width: 200px;
  width: 20%;
}
#p2-tv-svg {
  position: absolute;
  left: 40%;
  bottom: 20%;
  min-width: 250px;
  width: 30%;
  z-index: -1;
}

#p4-sun-svg {
  position: absolute;
  left: 10%;
  bottom: 20%;
  min-width: 220px;
  width: 30%;
  place-content: center;
  opacity: 1;
}
#p4-earth-svg {
  position: absolute;
  right: 10%;
  bottom: 30%;
  min-width: 220px;
  width: 40%;
  z-index: -1;
  opacity: 1;
}

#p7-tv-svg {
  position: absolute;
  left: 30%;
  bottom: 10%;
  min-width: 250px;
  width: 40%;
  opacity: 1;
}

#p8-luggage-svg {
  position: absolute;
  left: 30%;
  bottom: 10%;
  min-width: 250px;
  width: 40%;
  opacity: 1;
}
#p8-hand-svg {
  position: absolute;
  left: 25%;
  bottom: 30%;
  min-width: 150px;
  width: 20%;
  opacity: 1;
}
#p8-plane-svg {
  position: absolute;
  left: 25%;
  bottom: 25%;
  min-width: 250px;
  width: 40%;
  opacity: 1;
}
#p8-cloud1-svg {
  position: absolute;
  left: 10%;
  top: 10%;
  min-width: 200px;
  width: 30%;
  opacity: 1;
  z-index: -1;
}
#p8-cloud2-svg {
  position: absolute;
  right: 5%;
  bottom: 10%;
  min-width: 200px;
  width: 30%;
  opacity: 1;
}

#p9-signal1-svg {
  position: absolute;
  right: 30%;
  bottom: 60%;
  min-width: 150px;
  width: 15%;
  opacity: 1;
}
#p9-signal2-svg {
  position: absolute;
  right: 37%;
  bottom: 60%;
  min-width: 50px;
  width: 5%;
  opacity: 1;
}
#p9-alley-svg {
  position: absolute;
  left:23% ;
  bottom: 0;
  min-width: 350px;
  width: 50%;
  opacity: 1;
}

#p10-light-svg, #p10-no-light-svg {
  position: absolute;
  left: 17% ;
  bottom: 0;
  min-width: 350px;
  width: 60%;
  opacity: 1;
}
#p10-no-light-svg {
  opacity: 0;
}

#p11-cloud1-svg {
  position: absolute;
  left: 15% ;
  bottom: 20%;
  min-width: 350px;
  width: 40%;
  opacity: 1;
}
#p11-cloud2-svg {
  position: absolute;
  right: 15% ;
  bottom: 20%;
  min-width: 350px;
  width: 40%;
  opacity: 1;
}
#p11-aurora-svg {
  position: absolute;
  left: 15% ;
  bottom: 15%;
  min-width: 600px;
  width: 70%;
  opacity: 1;
  z-index: -1;
}

#p12-camera-svg {
  position: absolute;
  left: 30% ;
  bottom: 15%;
  min-width: 350px;
  width: 35%;
  opacity: 1;
}

#p13-living-room-svg {
  position: absolute;
  left: 35%;
  bottom: 0;
  min-width: 250px;
  width: 25%; 
  opacity: 1;
}


/*text section*/
#landing-h1{
  position: absolute;
  margin: auto;
  font-size: 1.75rem;
  color: black;
  font-weight: bold;
}
p {
  position: absolute;
  text-align: center;
  margin: auto;
  opacity: 1;
}
#p1-text{
  display: flex;
  position: absolute;
  text-align: center;
  margin: auto;
  opacity: 0;
}
/*
#p2-text {
  position: absolute;
  text-align: center;
  margin: auto;
  opacity: 1;
}
#p4-text{
  position: absolute;
  text-align: center;
  margin: auto;
  opacity: 1;
}
#p5-text{
  position: absolute;
  text-align: center;
  margin: auto;
  opacity: 1;
}
#p6-text{
  position: absolute;
  text-align: center;
  margin: auto;
  opacity: 1;
}
#p7-text{
  position: absolute;
  text-align: center;
  margin: auto;
  opacity: 1;
}
*/

/*parent containers*/
#animation-container {
  position: relative;
  flex: 8;
  margin: 1rem;
}
#text-container {
  position: relative;
  align-items: center;
  justify-content: center;
  flex: 2;
  margin: 1rem;
  color: black;
  font-size: 1.25rem;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;

  width: 100%;
  height: 100vh;
  padding: 1rem;
  text-align: center;
  position: fixed; 
  top: 0;
  overflow: hidden;
}

#cursor-follower {
  position: absolute;
  width: 1000px;
  height: 1000px;
  background-color: skyblue;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease;
  z-index: -1;
  filter: blur(100px);
}

@media (max-width: 480px) {
  h1, p {
    font-size: 0.7rem;
  }
}

@media (pointer: coarse) {
  #cursor-follower{
    display: none
}

}
#audio-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}